.u-section-1 {
  background-image: none;
  min-height: 791px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0 520px;
}

.u-section-1 .u-image-1 {
  height: 791px;
  margin-top: -391px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -390px 423px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 10px auto -12px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 2085px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 357px);
    margin-left: calc(((100% - 1140px) / 2) + 523px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 443px);
    margin-right: calc(((100% - 1140px) / 2) + 443px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 376px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1735px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 137px);
    margin-left: calc(((100% - 1140px) / 2) + 743px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 423px);
    margin-left: calc(((100% - 1140px) / 2) + 630px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 266px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1797px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: calc(((100% - 1140px) / 2) + -43px);
    margin-left: calc(((100% - 1140px) / 2) + 923px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 153px);
    margin-left: calc(((100% - 1140px) / 2) + 900px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1859px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: calc(((100% - 1140px) / 2) + -238px);
    margin-left: calc(((100% - 1140px) / 2) + 1215px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + -147px);
    margin-left: calc(((100% - 1140px) / 2) + 1200px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
}.u-section-2 {
  background-image: none;
  min-height: 961px;
}

.u-section-2 .u-text-1 {
  margin: 140px calc(((100% - 1140px) / 2) + 347px) 0;
}

.u-section-2 .u-text-2 {
  margin: 20px calc(((100% - 1140px) / 2) + 453px) 0;
}

.u-section-2 .u-list-1 {
  width: 355px;
  margin: 46px auto 0 calc(((100% - 1140px) / 2) + 393px);
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 388px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-shape-1 {
  width: 74px;
  height: 58px;
  margin: 51px 103px 0 119px;
}

.u-section-2 .u-text-3 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 10px 0 0;
}

.u-section-2 .u-image-1 {
  width: 292px;
  height: 100px;
  margin: 178px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 247px);
    margin-right: calc(((100% - 940px) / 2) + 247px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 353px);
    margin-right: calc(((100% - 940px) / 2) + 353px);
  }

  .u-section-2 .u-list-1 {
    margin-left: calc(((100% - 940px) / 2) + 393px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 137px);
    margin-right: calc(((100% - 720px) / 2) + 137px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 243px);
    margin-right: calc(((100% - 720px) / 2) + 243px);
  }

  .u-section-2 .u-list-1 {
    margin-left: calc(((100% - 720px) / 2) + 365px);
  }

  .u-section-2 .u-repeater-1 {
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 47px);
    margin-right: calc(((100% - 540px) / 2) + 47px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 153px);
    margin-right: calc(((100% - 540px) / 2) + 153px);
  }

  .u-section-2 .u-list-1 {
    margin-left: calc(((100% - 540px) / 2) + 185px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2) + 53px);
    margin-right: calc(((100% - 340px) / 2) + 53px);
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-3 {
  background-image: linear-gradient(100deg, #fb5d00, rgba(249,137,23,0.88));
}

.u-section-3 .u-sheet-1 {
  min-height: 186px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 56px auto 0;
}

.u-section-3 .u-social-icons-1 {
  height: 74px;
  min-height: 16px;
  width: 74px;
  min-width: 16px;
  margin: 0 auto 32px;
}

.u-section-3 .u-icon-1 {
  height: 92px;
  color: rgb(85, 172, 238) !important;
}